#searchForm {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}

#searchForm label {
	width: 80px;
	font-weight: bold;
	margin-right: 10px;
	font-size: 16px;
}

#searchForm input[type='text'] {
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid gray;
	width: 70%;
}

#searchForm button[type='submit'] {
	padding: 10px 20px;
	font-size: 20px;
	background-color: lightblue;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.wrapper {
	/* max-width: 800px; */
	margin: 0 auto;
	height: 60vh;
	/* background-color: red; */
}

@media only screen and (max-width: 767px) {
	#searchForm {
		flex-direction: column;
		align-items: center;
	}

	#searchForm label {
		margin-bottom: 10px;
	}

	#searchForm input[type='text'],
	#searchForm button[type='submit'] {
		width: 100%;
		margin-bottom: 10px;
	}
}
